// code cua bao
//end code cua bao

//code cua quang
//end code cua quang

//code cua dieu


// Noi dung 1

.box{
	float: left;
	height: 600px;
	// background: gray;
	h2{
		padding-top: 3%;
	}
	.line{
		height: 2px;
		background: blue;
	}
	.box1{
		margin-top: 3%;
		height: 420px;
		// background: red;
		.box11{
			margin-left: 1%;
			margin-right: 1%;
			float: left;
			width: 23%;
			height: 420px;
			// background: yellow;
			border: 1px solid #bfbfbf;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			.pic{
				float: left;
				height: 180px;
				// background: green;
				margin-bottom: 3%;
				.container {
				position: relative;
				width: 100%;
				.image {
					width: 100%;
					height: 180px;
					border-bottom: 1px solid red;
				}
				.overlay {
					position: absolute;
					bottom: 100%;
					left: 0;
					right: 0;
					background-color: rgba(85, 136, 119, .1);
					overflow: hidden;
					width: 100%;
					height:0;
					transition: .5s ease;
					border-bottom: 1px solid #ff4a4a;
					h5{
						color: blue;
						position: absolute;
						border-bottom: 1px solid red;
						top: 30%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						text-align: center;
					}
					button{
						position: absolute;
						font-size: 14px;
						top: 72%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}			
				}
				&:hover .overlay {
					bottom: 0;
					height: 100%;
				}
			}
			}
			h5{
				color: blue;
				opacity: 0.8;
			}
			.mini{
				height: 25px;
				// background: green;
				margin-bottom: 5%;
				i{
					float: left;
					margin-top: 1%;
					margin-left: 12%;
					color: #444;
					opacity: 0.8;
					font-size: 17px;
					&:hover{
						color: orange;
					}
				}
				a{
					color: #444;
					padding-top: 1%;
					padding-left: 3%;
					opacity: 0.8;
					text-decoration: none;
					font-size: 13px;
					&:hover{
						color: orange;
					}
				}
			}
			p{
				color: #444;
				opacity: 0.9;
			}
			.nut1{
				margin-left: 28%;
			}
		}
	}
}

// Noi Dung 2

.boxx{
	float: left;
	height: 520px;
	// background: green;
	background-image: url('photo/bflower2.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	h2{
		padding-top: 5%;
		color: white;
	}
	.line2{
		height: 2px;
		background: blue;
	}
	.boxx1{
		height: 240px;
		// background: red;
		margin-top: 4%;
		.boxx11{
			height: 240px;
			// background: yellow;
			.pic2{
				margin: 0 1% 0 1%;
				width: 23%;
				float: left;
				height: 240px;
				// background: green;
				border: 4px solid white;
				.container {
				position: relative;
				width: 100%;
				.image {
					width: 100%;
					height: 235px;
					border-bottom: 2px solid white;
				}
				.overlay {
					position: absolute;
					bottom: 100%;
					left: 0;
					right: 0;
					background-color: rgba(85, 136, 119, .3);
					overflow: hidden;
					width: 100%;
					height:0;
					transition: .5s ease;
					h2{
						color: white;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						text-align: center;
					}			
				}
				&:hover .overlay {
					bottom: 0;
					height: 100%;
				}
			}
			}
		}
	}
	.prev{
		position: absolute;
		top: 50%;
		background: black;
		width: 36px;
		height: 36px;
		border-radius: 7px;
		i{
			font-size: 36px;
		}
	}
	.next{
		position: absolute;
		top: 50%;
		background: black;
		width: 36px;
		height: 36px;
		border-radius: 7px;
		i{
			font-size: 36px;
		}
	}
}

// noi dung 3

.boxxx{
	float: left;
	height: 600px;
	// background: gray;
	h2{
		padding-top: 3%;
	}
	.line3{
		height: 2px;
		background: blue;
	}
	.box4{
		margin-top: 3%;
		height: 420px;
		// background: red;
		.box44{
			margin-left: 1%;
			margin-right: 1%;
			float: left;
			width: 23%;
			height: 420px;
			// background: yellow;
			border: 1px solid #bfbfbf;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			.pic4{
				float: left;
				height: 180px;
				// background: green;
				margin-bottom: 3%;
				.container {
				position: relative;
				width: 100%;
				.image {
					width: 100%;
					height: 180px;
					border-bottom: 1px solid red;
				}
				.overlay {
					position: absolute;
					bottom: 100%;
					left: 0;
					right: 0;
					background-color: rgba(85, 136, 119, .1);
					overflow: hidden;
					width: 100%;
					height:0;
					transition: .5s ease;
					border-bottom: 1px solid #ff4a4a;
					h5{
						color: blue;
						position: absolute;
						border-bottom: 1px solid red;
						top: 30%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						text-align: center;
					}
					button{
						position: absolute;
						font-size: 14px;
						top: 72%;
						left: 50%;
						transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
					}			
				}
				&:hover .overlay {
					bottom: 0;
					height: 100%;
				}
			}
			}
			h5{
				color: blue;
				opacity: 0.8;
			}
			.mini{
				height: 25px;
				// background: green;
				margin-bottom: 5%;
				i{
					float: left;
					margin-top: 1%;
					margin-left: 12%;
					color: #444;
					opacity: 0.8;
					font-size: 17px;
					&:hover{
						color: orange;
					}
				}
				a{
					color: #444;
					padding-top: 1%;
					padding-left: 3%;
					opacity: 0.8;
					text-decoration: none;
					font-size: 13px;
					&:hover{
						color: orange;
					}
				}
			}
			p{
				padding-top: 3%;
				color: #444;
				opacity: 0.9;
			}
			.boxxx4-4{
				margin-top: 10%;
				height: 50px;
				// background: green;
				border-top: 1px solid #bfbfbf; 
				.o1{
					float: left;
					height: 50px;
					// background: red;
					border-right: 1px solid #bfbfbf;
					transition: 0.3s;
					&:hover{
						box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
						background: #d9d9d9;
					}
					i{
						float: left;
						padding-left: 0;
						padding-top: 10%;
						color: blue;
						font-size: 24px;
					}
					p{
						padding-top: 12%;
						padding-left: 30%;
					}
				}
			}
		}
	}
}




//end code cua dieu

//code cua phat
//end code cua phat